 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <p>I'm a pragmatic software developer and architect with 12+ years of experience building technical solutions in different industries.
                    </p>
                </div>
            </div>
        </div>
    </section>
